{{ form_start(form) }}
    {{ form_row (form.designation, {attr:{'class':'form-control', 'placeholder':'designation'}}) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
