<div class="row g-4">
    <div class="col-lg-12">
        <div class="mb-3">
            <h4>Categories</h4>
            <ul class="list-unstyled fruite-categorie">
              {% for cat in categorie %}
                <li>
                    <div class="d-flex justify-content-between fruite-name">
                        <a href="{{path('prod_by_categorie', {'id':cat.id})}}"><i class="fas fa-apple-alt me-2"></i>{{ cat.nomCategorie }}</a>
                        <span>(3)</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="mb-3">
            <h4>Autres Services</h4>
          
              {% for service in autreServe %}
                <div class="mb-2">
                    <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
                    <a href="{{path('prod_by_categorie', {'id':service.id})}}"><i class="fas fa-apple-alt me-2"></i>{{ service.designation }}</a>
                </div>
              {% endfor %}
          
           
        </div>
    </div>
    <div class="col-lg-12">
        <div class="d-flex justify-content-center my-4">
            <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">ENTREZ EN CONTACT</a>
        </div>
    </div>
    {# <div class="col-lg-12">
        <div class="position-relative">
            <img src="img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
            <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
            </div>
        </div>
    </div> #}
</div>